
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    padding: 50px;
    margin: 50px;
    margin-top: -10px;
    height: 100%;
    border-radius: 50px;
}

html {
    background-attachment: fixed;
}
/* nav {
    background-color: lightgray;
    margin: 0;
} */

.input-section {
    display: flex;
    align-items: center;
}

.input-section > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#location-input {
    height: 50px;
    text-align: center;
    width: 300px;
    background-color: rgb(212, 235, 236);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2),
    inset -2px -2px 5px rgba(255,255,255,0.7);
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
}

#location-input:active {
    border: 2px solid blue;
}

#searchBtn {
    width: 200px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: rgb(114, 231, 135);
    box-shadow: 0 5px rgb(34, 137, 63);
    font-size: 1.2rem;
    font-weight: 800;
}

#searchBtn:hover {
    cursor: pointer;
    background-color: rgb(174, 240, 174);
}

#searchBtn:active {
    transform: translateY(5px);
    box-shadow: 0 2px rgb(34, 137, 63);
}

.container {
    /* width: 50px;
    height: 50px; */
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 700px;
    top: -50px;
} 

.button {
    background-color: orange;
    width: 90px;
    height: 40px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    color: #000;
    border: 5px solid rgb(243, 217, 21);
}

.button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px; 
    border-radius: 200px; 
    left: 15px;
    transform: translateX(-50%);
    transition: 0.2s;
}


input:checked + .button {
    background-color: lightblue;
}

input:checked + .button::before {
    transform: translateX(50px)
}

#check {
    display: none;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.content {
    display: none;
}

.content.active {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.content-now {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: -20px;
    width: 500px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 7px 12px -4px rgb(0, 0, 0);
    background-color: rgba(212, 205, 205, 0);

}

.cityName {
    font-size: 1.3em;
    text-align: center;
}

.now-info {
    display: flex;
    gap: 30px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.daily-hourly {
    display: flex;
    gap: 50px;
}


.content-daily {
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    gap: 7px;
    font-size: 1.1em;
}

.temps {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.content-hourly {
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    border-radius: 10px;
    padding: 10px;

    width: 300px;
    height: 450px;
    overflow-x: auto;
    gap: 40px;
    background-color: rgba(212, 205, 205, 0.5);
}

.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.daily-header {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.dailyData {
    text-align: center;
    /* border: 1px solid black; */
    /* height: 100px; */
    width: 530px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.dailyData:hover {
    cursor: pointer;
    background-color: lightblue;
    transform: scale(1.05);
}

.dailyData:active {
    transform: scale(1.0);
    background-color: rgb(145, 203, 219);
}

.dailyData.today {
    background-color: lightblue;
    border-radius: 20px;
}

.temps {
    text-align: left;
}

.overall {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hourlyData {
    width: 280px;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 15px;
}

.right {
    display: flex;
    flex-direction: column;
}

.extra-info {
    height: 180px;
    margin-top: 30px;
    background-color: rgb(185, 202, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.extrasDaily {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1em;
}